@use "../../styles/" as s;

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  width: 70%;
  background-color: s.$background;
}
.message-and-sent{
display: flex;
align-items: center;
}
.chat-input{
  width: 95%;
}
